*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#uestion_space{
    margin: 2rem;
    padding: 1rem;
    background: pink;
}

#question_space h2{
    text-align: center;
    background: gray;
    padding: 2rem;
}

.infotab{
    text-align: right;
    padding: 2rem;
    font-size: 1rem;
}

.options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

button{
    margin: 0.5rem;
    padding: 1rem;
    font-weight: 400;
}

.buttonCorrect{
    background: green;
}

.buttonWrong{
    background: red;
}

button:hover{
    border: 0.1rem solid gold;
    
}

